<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceMatch" />
                <binding name="BasicHttpBinding_IServiceReservation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49249/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceMatch" contract="QuidditchWebServices.IServiceMatch"
                name="BasicHttpBinding_IServiceMatch" />
            <endpoint address="http://localhost:49249/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceReservation"
                contract="QuidditchWebServices.IServiceReservation" name="BasicHttpBinding_IServiceReservation" />
        </client>
    </system.serviceModel>
</configuration>